:root {
  --main-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}
h4 {
  font-size: 48px;
}

p {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h3 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-size: 24px;
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
}
.about-section {
  padding: 160px 20px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section-content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.about-section-content p {
  font-size: 20px;
  line-height: 30px;
  font-family: var(--default-font-family);
}
.work-section-content {
  padding: 160px 20px;
  margin: 30px;
}
.work-section-content h1 {
  font-size: 64px;
  line-height: 80px;
}
.work-section-content h3 {
  font-family: var(--default-font-family);
}
.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
}
.content {
  margin: 30px;
}
.content p {
  font-size: 14px;
}
footer {
  margin: 10px 10px;
}
footer h4 {
  font-family: "Allison", cursive;
  font-size: 65px;
}
footer .contact-box {
  background: var(--secondary-color);
  border-radius: 50px;
  padding: 30px 110px;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--main-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}
footer .email-link {
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.btn-branding,
.btn-information {
  font-size: 18px;
  border-radius: 4px;
  padding: 15px 30px;
}

.btn-branding {
  background: var(--main-color);
  color: #ffffff;
  line-height: 27px;
}

.btn-information {
  border: var(--main-color) 1px solid;
  color: var(--main-color);
  line-height: 27px;
  border: 1px solid #6c63ff;
}
.img-fluid {
  max-width: 100%;
}
.logo {
  max-height: 40px;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  color: #272142;
  transition: all 100ms ease-in-out;
  text-decoration: none;
}
nav a :hover,
nav li.active a {
  color: var(--main-color);
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-information {
    padding: 0;
    text-align: center;
  }

  footer .email-link {
    font-size: 14px;
    max-width: 50%;
  }
}
